body {
    background-color: rgb(250, 250, 250);
    padding: 0px;
    margin: 0px;
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    padding-top: 0px;
    font-family: Roboto, sans-serif;
    background: rgb(235, 235, 235);
    border-bottom: 1px solid rgb(212, 212, 212);

}

.header img {
    width: 45px;
    float: left;
    margin: 7px 10px;
}

.header .headerNameDB {
    width: 230px;
    height: 44px;
    float: left;
    padding: 16px 10px 0px 0px;
    border-right: 1px solid rgb(212, 212, 212);
    color: black;
}

.header .headerNameDB span {
    font-size: 24px;
}

.header .headerButtons ul {
    margin: 0px 0px 0px 280px;
}

.header .headerButtons li:first-child {
    width: 130px;
    color: black;
}

.header .headerButtons li:first-child + li {
    width: 110px;
}

.header .headerButtons li {
    display: inline-block;
    float: left;
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    padding: 21px 0px 0px 0px;
}

.headerButtons li:hover {
    padding-top: 20px;
    height: 37px;
    border-top: 1px solid #787878;
    border-bottom: 2px solid #787878;
    cursor: pointer;

}

.new-select-style-wpandyou {
    float: right;
    margin-top: 16px;
    border: 1px solid rgb(212, 212, 212);
    border-top: 1px solid rgb(235, 235, 235);
    overflow: hidden;
    height: 34px;
    background: url(../images/select-arrow-open.png) no-repeat right rgb(235, 235, 235);
    width: 270px;
}

.new-select-style-wpandyou select {
    border-radius: 0;
    font-family: Roboto, sans-serif;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 270px;
    outline: none;
}

.new-select-style-wpandyou select option {
    background: rgb(235, 235, 235);
}

.selectBar {
    float: right;
    width: 350px;
    height: 40px;
    margin: 44px 0px 0px 70%;
    position: absolute;
}

.mainTable {
    padding-top: 200px;
}

.mainTable table {
    border-collapse: collapse;
}


.mainTable th {
    border: 1px solid #d9d9d9;
    background: #f0f0f0;
}

.mainTable td {
    border: 1px solid #d9d9d9;
}

.tableFixed {
    table-layout:fixed;
}

.tableContent:hover {
    background: #f0f0f0;
}

.search {
    width: 90%;
    height: 50px;
    font-size: 18px;
    padding: 100px 0px 0px 75px;
}

.searchInputText {
    width: 340px;
    height: 19px;
    font-size: 16px;
}

.searchButton {
    margin-left: 35px;
    width: 115px;
    height: 25px;
}

.searchRadioPanel input {
    margin-left: 40px;
}

.searchInputRadio {
    margin-top: 20px;
    padding-right: 50px;
}

#searchHrLine {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    width: 50%;
}

.paymentEntryPanel {
    margin-top: 60px;
    margin-left: 75px;
    width: 90%;
    height: 300px;
}

.paymentEntryPanel form {
    width: 100%;
    height: 100%;
}

.paymentEntryPanelNames {
    float: left;
    width: 170px;
    height: 200px;
    font-size: 18px;
    display: inline-block;
}

.paymentEntryPanelInput {
    float: left;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.paymentEntryText {
    width: 128px;
    height: 18px;
    font-size: 16px;
}

.paymentEntryButtons {
    padding: 220px 0px 0px 160px;
    width: 150px;
    height: 70px;
}

.clearButton {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../images/clearButton128x128.png) center center no-repeat transparent;
    background-size: cover;
    border-radius: 30px;
    outline: none;
}

.sendButton {
    margin-left: 25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../images/acceptButton128x128.png) center center no-repeat transparent;
    background-size: cover;
    border-radius: 30px;
    outline: none;
}

#paymentEntryTable {
    width: 100%;
    border-collapse: collapse;
    line-height: 1.5;
    background: white;
}

#paymentEntryTable th {
    border: 1px solid #d9d9d9;
    background: #f0f0f0;
}

#paymentEntryTable td {
    border: 1px solid #d9d9d9;
}


.addPAGeneralInf {
    width: 95%;
    height: 440px;
    margin-left: 5%;
}

.addPAWrap {
    padding-top: 75px;
    width: 60%;
    height: 2500px;
    font-size: 20px;
}

.addPAWrap span {
    display: inline-block;
    padding-bottom: 2px;
}

.addPATitles {
    width: auto;
    margin-left: 10%;
}

.addPAText {
    width: 100px;
    height: 18px;
    font-size: 16px;
}

.addPAGeneralInfNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    height: 250px;
    width: 270px;
}

#addPAGeneralInfName {
    width: 250px;
}

.addPAGeneralInfValues {
    display: inline-block;
    float: left;
}

.addPAOldDeb {
    width: 95%;
    height: 275px;
    margin-left: 5%;
}

.addPAOldDebNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    width: 270px;
}

.addPAOldDebValues {
    display: inline-block;
    float: left;
}

.addPAHousingServ {
    width: 95%;
    height: 440px;
    margin-left: 5%;
}

.addPAHousingServNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    width: 270px;
}

.addPAHousingServValues {
    display: inline-block;
    float: left;
}

.addPACurrOverhaul {
    width: 95%;
    height: 340px;
    margin-left: 5%;
}

.addPACurrOverhaulNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    width: 270px;
}

.addPACurrOverhaulValues {
    display: inline-block;
    float: left;
}

.addPAPaid {
    width: 95%;
    height: 340px;
    margin-left: 5%;
}

.addPAPaidNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    width: 270px;
}

.addPAPaidValues {
    display: inline-block;
    float: left;
}

.addPANewDeb {
    width: 95%;
    height: 240px;
    margin-left: 5%;
}

.addPANewDebNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    width: 270px;
}

.addPANewDebValues {
    display: inline-block;
    float: left;
}

.addPANumbStorey {
    width: 95%;
    height: 170px;
    margin-left: 5%;
}

.addPANumbStoreyNames {
    display: inline-block;
    float: left;
    width: 270px;
}

.addPANumbStoreyValues {
    display: inline-block;
    float: left;
}

.addPAButtons {
    margin: 35px 0px 0px 283px;
}

.changePersAccountWrap {
    width: 60%;
    height: 1250px;
    font-size: 20px;
    padding: 75px 0px 0px;
}

.changePAGeneralInf {
    width: 95%;
    height: 470px;
    margin-left: 5%;
}

.changePATitles {
    width: auto;
    margin-left: 10%;
}

.changePersAccountWrap span {
    display: inline-block;
    padding-bottom: 2px;
}

.changePAGeneralInfNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    height: 250px;
    width: 270px;
}

.changePAGeneralInfValues {
    display: inline-block;
    float: left;
}

.changePAHousingServ {
    width: 95%;
    height: 330px;
    margin-left: 5%;
}

.changePAHousingServNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    height: 150px;
    width: 270px;
}

.changePAHousingServValues {
    display: inline-block;
    float: left;
}

.changePACurrOverhaul {
    width: 95%;
    height: 220px;
    margin-left: 5%;
}

.changePACurrOverhaulNames {
    display: inline-block;
    margin-bottom: 30px;
    float: left;
    height: 75px;
    width: 270px;
}

.changePACurrOverhaulValues {
    display: inline-block;
    float: left;
}

.changePAButtons {
    margin: 25px 0px 0px 280px;
}

.deletePersAccount {
    float: left;
    margin: 85px 0px 0px 50px;
    background: #f0f0f0;
    width: 60%;
    height: 270px;
    font-size: 20px;
    padding-top: 15px;
}

#deletePATitle {
    display: inline-block;
    margin: 25px 0px 0px 23%;
}

.deletePA {
    margin: 25px 0px 0px 300px;
}

.deletePAButtons {
    margin: 10px 0px 0px 8px;
}

.deletePAText {
    width: 160px;
    height: 25px;
    font-size: 18px;
}

.currRate {
    float: left;
    margin: 85px 0px 0px 50px;
    background: #f0f0f0;
    width: 60%;
    height: 270px;
    font-size: 20px;
    padding-top: 15px;
}

#currRateTitle {
    display: inline-block;
    margin: 15px 0px 0px 36%;
}

.oldHousingServRate {
    float: left;
    display: inline-block;
    margin-top: 35px;
    width: 50%;
    height: 200px;
}

#oldHousingServRateTitle {
    display: inline-block;
    margin-left: 30%;
}

.oldHousingServRateNames {
    float: left;
    margin-left: 45px;
}

.oldHousingServRateValues {
    float: left;
    margin-left: 25px;
}

.oldCurrOverhaulRate {
    margin: 35px 0px 0px 55px;
    float: left;
    display: inline-block;
    width: 40%;
    height: 200px;
}

#oldCurrOverhaulRateTitle {
    display: inline-block;
    margin-left: 20%;
}

.oldCurrOverhaulRateNames {
    float: left;
}

.oldCurrOverhaulRateValues {
    float: left;
    margin-left: 25px;
}

.newRate {
    float: left;
    margin: 85px 0px 0px 50px;
    background: #f0f0f0;
    width: 60%;
    height: 270px;
    font-size: 20px;
    padding-top: 15px;
}

#newRateTitle {
     display: inline-block;
     margin: 15px 0px 0px 37%;
 }

.newHousingServRate {
    float: left;
    display: inline-block;
    margin-top: 35px;
    width: 50%;
    height: 100px;
}

.newHousingServRateNames {
    float: left;
    margin-left: 45px;
}

.newHousingServRateValues {
    float: left;
    margin-left: 25px;
    width: 20%;
}

.newCurrOverhaulRate {
    margin: 35px 0px 0px 55px;
    float: left;
    display: inline-block;
    width: 40%;
    height: 100px;
}

.newCurrOverhaulRateNames {
    float: left;
}

.newCurrOverhaulRateValues {
    float: left;
    margin-left: 25px;
}

.rateButtons {
    display: inline-block;
    margin: 10px 0px 0px 295px;
    width: 200px;
    height: 100px;
}

.selectDB {
    margin: 200px 0px 0px 30%;
    background: rgb(235, 235, 235);
    width: 250px;
    height: 250px;
    padding: 5% 10%;
}
.selectDB button {
    margin-bottom: 30px;
    width: 100%;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    background: rgb(235, 235, 235);
    border: none;
    border-bottom: 1px solid #787878;
}

.selectDB button:hover {
    background: #e0e0e0;
    cursor: pointer;
}